src/main/mule/secretmapp.xml
<?xml version="1.0" encoding="UTF-8"?>



<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="secretmappFlow" doc:id="f40d1017-ed60-4a32-94c9-20999d93f8a2" >
		<http:listener doc:name="Listener" doc:id="0367a485-3443-4ab4-a0be-8ace5d7d2c26" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="start of the Flow" doc:id="24e9911a-4af8-48b8-b532-f515f2327b04" message="start of the Flow"/>
		<http:request method="GET" doc:name="Request calling the region and City " doc:id="37917cd2-08d6-445f-a692-bc68c306c285" path="/{region}/{city}" config-ref="HTTP_Request_configuration1">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="End of the Flow" doc:id="9cfdec58-7250-4476-bde2-88db70a75232" message="End of the Flow"/>
	</flow> 
</mule>
